<div class="container">
  <%= simple_form_for [listing, order] do |f| %>
    <%= f.input :pickup_time, as: :string, require: false, input_html: { data: {controller: "flatpicker"}} %>
    <%= f.submit class: "btn btn-primary", value: "Purchase" %>
  <% end %>
</div>
