<div class="container my-3">
  <%= simple_form_for [listing, order] do |f| %>
    <%= f.input :pickup_time, as: :string, require: false, input_html: { data: {controller: "flatpicker"}} %>
    <div class="d-flex justify-content-between">
    <%= f.submit class: "btn custom-btn", value: "Purchase" %>
  <% end %>
    <div class="btn custom-btn">
      <%= link_to listing_path(@listing) do %>
        <i class="far fa-comment" style="font-size: 23px"></i>
      <% end %>
    </div>
  </div>
</div>
