<div class="index-cards m-2" data-search-target="list">
  <p class="mb-0" id="listings-counter"><strong><%= @listings.active.size %></strong> listings</p>
  <% listings.active.each do |listing| %>
    <% listing_coordinates = [listing.latitude, listing.longitude] %>
    <% search_coordinates = Geocoder.coordinates(params[:address]) %>
    <% distance = Geocoder::Calculations.distance_between(listing_coordinates, search_coordinates) %>
    <%= link_to listing_path(listing, distance: distance) do %>
      <%# check if listing has not been completed / accepted %>
        <div class="index-card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path listing.photo.key %>)">
          <div class="top-left-icon">
            <% if current_user.favorited?(listing) %>
              <i class="fas fa-heart"></i>
            <% else %>
              <i class="far fa-heart"></i>
            <% end %>
          </div>
          <div class="bottom-right-icon">
            <p> <%= distance.round(1) %> km</p>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
