<div class="index-cards m-2" data-search-target="list">
  <p class="mb-0" id="listings-counter"><strong><%= listings.size %></strong> listings</p>

  <% listings.each do |listing| %>
    <%# <% listing_coordinates = [listing.latitude, listing.longitude] %>
    <%# <% search_coordinates = Geocoder.coordinates(params[:address]) %>
    <%# <% distance = Geocoder::Calculations.distance_between(listing_coordinates, session[:last_coordinates]) %>
    <%= link_to listing_path(listing) do %>
        <div class="index-card" style="background-image: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path listing.photo.key %>)">
          <div class="top-right-icon">
            <% if current_user.favorited?(listing) %>
              <i class="fas fa-heart"></i>
            <%# <% else %>
              <%# <i class="far fa-heart"></i> %>
            <% end %>
          </div>
          <div class="bottom-right-icon">
            <p> <%= listing.distance_to(session[:last_coordinates]).round(1) %> km</p>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
