<div class="listings-headers d-flex justify-content-between mt-2 mx-2">
  <p class="mb-0"><strong><%= @listings.size %></strong> listings</p>
  <p class="mb-0">Within: <strong>Xkm</strong> <i class="fas fa-caret-down"></i> </p>
</div>
<%# <p>sort by: </p> %>
<%# <p>items per row: </p> %>

<div class="cards-2 mt-2">
  <% @listings.all.each do |listing| %>
    <%= link_to listing_path(listing) do %>
      <div class="index-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url("pet_default_shadow.jpg") %>)">
        <div class="top-left-icon">
          <%# <i class="fas fa-heart"></i> --> wishlist %>
          <i class="far fa-heart"></i>
        </div>
        <div class="bottom-right-icon">
          <p> <%  %> km</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
