<div class="d-flex justify-content-around">
  <div class="footer">
    <div class="footer-links">

      <%= link_to home_path do%>
        <i class="fas fa-caret-down"></i>
        <h6> buy </h6>
      <% end %>

      <%= link_to dashboard_path do %>
        <i class="fas fa-shopping-cart"></i>
        <h6> orders </h6>
        <% if user_signed_in? && current_user.notifications_count > 0 %>
          <span class="dashboard-notifications"> <%= current_user.notifications_count %> </span>
        <% end %>
      <% end %>

      <%= link_to new_listing_path do %>
        <i class="fas fa-caret-up"></i>
        <h6> sell </h6>
      <% end %>

    </div>
  </div>
</div>
