<div class="d-flex justify-content-around">
  <div class="footer">
    <div class="footer-links">
    <%= link_to "#" do %>
      <i class="fas fa-home"><p>Home</p></i>
    <% end %>
    </div>
    <div class="footer-links">
    <%= link_to "#" do %>
      <i class="fas fa-shopping-cart"><p>Cart</p></i>

    <% end %>
    </div>
    <div class="footer-links">
    <%= link_to "#" do %>
      <i class="fas fa-plus"><p>Add item</p></i>
    <% end %>
    </div>
    <div class="footer-links">
    <%= link_to "#" do %>
      <i class="fas fa-search"><p>Browse</p></i>
    <% end %>
    </div>
  </div>
</div>
