<div class="d-flex justify-content-around">
  <div class="footer">
    <div class="footer-links">
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>
    </div>
    <div class="footer-links">
    <%= link_to dashboard_path do %>
      <i class="fas fa-shopping-cart"></i>
    <% end %>
    </div>
    <div class="footer-links">
    <%= link_to "#" do %>
      <i class="fas fa-plus"></i>
    <% end %>
    </div>
    <div class="footer-links">
    <%= link_to "#" do %>
      <i class="fas fa-search"></i>
    <% end %>
    </div>
  </div>
</div>
