<div class="d-flex justify-content-around">
  <div class="footer">
    <div class="footer-links">
      <%= link_to root_path do %>
        <i class="fas fa-home"></i>
        <h6> home </h6>
      <% end %>
    </div>
    <div class="footer-links">
      <%= link_to dashboard_path do %>
        <span class="dashboard-icon"> <i class="fas fa-shopping-cart"></i> </span>
        <h6> orders </h6>
        <%# <% if current_user.listing %>
         <span class="order-notifications"> <h6> 3 </h6> </span>
      <% end %>
    </div>
    <div class="footer-links">
      <%= link_to new_listing_path do %>
        <i class="fas fa-plus"></i>
        <h6> sell </h6>
      <% end %>
    </div>

    </div>
  </div>
</div>
