<div class="container">
  <div class="index-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path @listing.photo.key %>)">
  </div>

  <div class="">
    <h1> <%= @listing.title.capitalize %> </h1>
    <p style="text-align: left" > Listed <%= time_ago_in_words(@listing.created_at) %> ago</p>
  </div>
</div>


<div class="container">
  <%= render 'orders/offers', listing: @listing %>
</div>
