<div class="row flex-nowrap ">
  <%# for each order, if the order is accepted, get order and display order %>
  <% orders.each do |order| %>
    <% if order.status == "accepted" %>
      <tr>

      </tr>
    <% end %>
  <% end %>
</div>
