<div class="row flex-nowrap scrollable-card">
  <%# for each order, get listing and display listing %>
  <tr>
  <% orders.each do |order| %>
    <% if order.status == "pending" %>
      <%= render "order_display", order: order %></td>
    <% end %>
  <% end %>
  </tr>
</div>
