
<div class="row flex-nowrap scrollable-card">
  <%# for each order, get listing and display listing %>
  <% orders.each do |order| %>
    <div class="dashboard-card me-1 ms-1" style="width: 16rem">
      <%= link_to order_path(order.id) do %>
      <div class="card dashboard-card-img">
        <%= cl_image_tag order.listing.photo.key %>
      </div>
        <%= order.listing.title %>
      <p> Status: <%= order.status %></p>
      <% end %>
      <div></div>
    </div>
  <% end %>
</div>
