<div class="row flex-nowrap scrollable-card">
  <%# for each order, get listing and display listing %>
  <% orders.each do |order| %>
    <% if order.status == "pending" %>
      <tr>
        <td><%= render "order_display", order: order %></td>
      </tr>
    <% end %>
  <% end %>
</div>
