<div class="row flex-nowrap scrollable-card">
  <%# for each order, if the order is accepted, get order and display order %>
  <% orders.each do |order| %>
    <% if order.status == "accepted" %>
      <tr>
        <td><%= render "order_display", order: order %></td>
      </tr>
    <% end %>
  <% end %>
</div>
