<div class="container-fluid">
  <h2 class="mt-3">Orders</h2>
  <%= render "orders", orders: current_user.orders %>
  <h2 class="mt-3">Listings</h2>
  <%= render "listings", listings: current_user.listings %>
  <%# how to make it specifically the current users orders? %>
    <br>
    <br>
    <br>
</div>
