<div >
  <div class='g-glossy p-3'>
    <h3 class="mb-3 w-90"><strong>Welcome to Just10, where you can buy or sell treasures</strong></h3>
      <div class="container d-flex">
        <%= link_to "buy", home_path, class: "w-50 btn custom-btn mt-4 m-1"%>
        <%= link_to "sell", new_listing_path, class: "w-50 btn custom-btn mt-4 m-1"%>
      </div>
  </div>

  <%= render "pages/home_photos" %>
