<div class="container-fluid">
  <!--
  <%#= link_to dashboard_path do %>
    <i class="fas fa-angle-left"></i>
  <%# end %>
  -->

  <h2 class="mt-3">Pending buyer requests</h2>
  <%= render "listings", listings: @listings %>

  <h2 class="mt-3">Awaiting buyer collection</h2>
  <%= render "listings_pickup_display", listings: @listings %>

  <%#
  * tile
  * add pick-up date
  * add message icon to chatroom
  * when status = completed remove from list
   %>
   <%#
   3rd category
   * completed listing?
    %>
</div>
