.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin: 5px;
  margin-top: 60px;

//   display: flex;
//   flex-wrap: wrap;
//   gap: 5px;
//   align-self: center;
//   justify-content: space-around;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    transition: all 1s ease-in-out;

    &:active {
      transform: scale(1.05);
    }
  }
}

// Xander Card
.index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  position: relative;
}

.index-card {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  padding: 50%;
  background-size: cover;
  background-position: center;

  .top-right-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    color: white;
  }

  .large-heart {
    font-size: x-large;
  }

  .bottom-right-icon {
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: white;

    p {
      margin-bottom: 0;
    }
  }
}

#listings-counter {
  position: absolute;
  top: -34px;
  left: 0;
}

.listings-headers {

  p {
    margin-bottom: 0;
  }
}

.categories-button {
  background: none;
  border: gray 1px solid;
  border-radius: 5px;
  padding: 0px 6px;
}

.seller-other-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  position: relative;
}

.seller-other-card {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  height: 108px;
  width: 108px;

  .top-right-icon {
    position: absolute;
    top: 2px;
    left: 2px;
    color: white;
  }
}

.order-card {

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;

  .order-notification {

    .order-user {
      margin-left: 5px;
      flex-grow: 1;

      p {
        margin-bottom: 0;
      }
    }
  }
}

// Callum card
.scrollable-card {
  overflow: scroll;
}

.dashboard-card {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.158);
  border: 1px solid #c4c4c4b5;
  margin-bottom: 4px;
  margin-top: 2px;
  padding: 0;

  .dashboard-card-message {
    position: absolute;
    right: 11px;
    bottom: 4px;

    i {
      font-size: 1.8rem;
    }
  }

  .dashboard-card-text {
    padding: 5px;
    position: relative;

    .arrow-right {
      position: absolute;
      bottom: 8px;
      right: 10px;
    }
  }

  i {
    font-size: 2.1rem;
    color: rgb(150, 150, 150);
  }

  img {
    width: 100%;
    object-fit: cover;
    // transition: transform 0.4s ease-in-out;
    // filter: grayscale(1s);
    transition: all 1s ease-in-out;

    &:hover,
    &:active {
      transform: scale(1.05);
    }
  }

  .avatar {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 9px;
    top: -20px;
    border: white 0.3px solid;
  }
}

.dashboard-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  // transition: transform 0.4s ease-in-out;
  // filter: grayscale(1s);
  transition: all 1s ease-in-out;
  justify-content: center;

  &:hover,
  &:active {
    transform: scale(1.05);
  }
}


.scroll-cards {
  display: flex;
}

.home-card {
  margin: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.35);
  border-radius: 5px !important;
  object-fit: cover;
}

table .dashboard-card {
  font-weight: normal;
}
