.footer {
  background: white;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0px 70px;
  color: rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  opacity: 0.8;
  justify-content: space-around;
  z-index: 10;
  box-shadow: 1px 1px 4px 1px #00000027;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.8;
  text-decoration: none;
  font-size: 32px;
  padding: 0px 25px;
  text-align: center;
  margin-top: 5px;
}

//comment
