
.scroll-left {
  height: 100px;
  overflow: hidden;
  position: relative;
  margin: 1.5px 0px;
}

.scroll-left .inner {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  /* Starting position */
  -moz-transform:translateX(0%);
  -webkit-transform:translateX(0%);
  transform:translateX(0%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 60s linear infinite;
  -webkit-animation: scroll-left 60s linear infinite;
  animation: scroll-left 60s linear infinite;
}

/* Move it (define the animation) */

@keyframes scroll-left {
  0%   {
  -moz-transform: translateX(00%); /* Browser bug fix */
  -webkit-transform: translateX(00%); /* Browser bug fix */
  transform: translateX(00%);
  }
  100% {
  -moz-transform: translateX(-166.666%); /* Browser bug fix */
  -webkit-transform: translateX(-166.666%); /* Browser bug fix */
  transform: translateX(-166.666%);
  }
}

.scroll-right {
  height: 100px;
  overflow: hidden;
  position: relative;
  margin: 1.5px 0px;
}

.scroll-right .inner {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  /* Starting position */
  -moz-transform:translateX(-0%);
  -webkit-transform:translateX(-0%);
  transform:translateX(-0%);
  /* Apply animation to this element */
  -moz-animation: scroll-right 60s linear infinite;
  -webkit-animation: scroll-right 60s linear infinite;
  animation: scroll-right 60s linear infinite;
}

/* Move it (define the animation) */

@keyframes scroll-right {
  0%   {
  -moz-transform: translateX(-166.666%); /* Browser bug fix */
  -webkit-transform: translateX(-166.666%); /* Browser bug fix */
  transform: translateX(-166.666%);
  }

  100% {
  -moz-transform: translateX(00%); /* Browser bug fix */
  -webkit-transform: translateX(00%); /* Browser bug fix */
  transform: translateX(00%);
  }
}
